body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    border-bottom: 1px;
    border-color: gray;
}

.twitchIcon {

}

.following {

}

.browse {

}

.threeDots {

}

.browse {

}

.searchBar {

}

.primeLoot {

}

.notifications {

}

.whispers {

}

.bits {

}

.turbo {

}

.battery {

}

.profile {

}